<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap.min.css" rel="stylesheet" >
    </head>
    <body>
        <div class="container">
            <a href="../index">back</a>
            <h2>Schedules</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>surname</th>
                        <th>department</th>
                        <th>year</th>
                        <th>month</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="schedule : ${schedules}">
                        <td th:text="${schedule.employee.id}" />
                        <td th:text="${schedule.employee.name}" />
                        <td th:text="${schedule.employee.surname}" />
                        <td th:text="${schedule.employee.department}" />
                        <td th:text="${schedule.id.year}" />
                        <td th:text="${schedule.getMonthName()}" />
                        <td>
                            <a th:href="@{show(employee_id=${schedule.employee.id},year=${schedule.id.year},month=${schedule.id.month})}"  class="btn btn-primary" >show</a>
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </body>
</html>