<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap.min.css" rel="stylesheet" >
    </head>
    <body>
        <div class="container">
            <a href="index">back</a>
            <h2>Schedule</h2>
            employee: <span th:text="${schedule.employee.name} +' '+ ${schedule.employee.surname}" />
            <br/>
            department: <span th:text="${schedule.employee.department}" />
            <br/>
            year: <span th:text="${schedule.id.year}" />
            <br/>
            month: <span th:text="${schedule.getMonthName()}" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">date</th>
                        <th>start of work</th>
                        <th>end of work</th>      
                        <th>time of work</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="dayOfWeek:${schedule_days}" >
                    <td th:text="${dayOfWeek.day}" />
                    <td th:text="${dayOfWeek.dayOfWeek}" />
                    <td th:text="${dayOfWeek.stringStartOfWork}" />
                    <td th:text="${dayOfWeek.stringEndOfWork}" />
                    <td th:text="${dayOfWeek.stringTimeOfWork}" />
                    <td><a class="btn btn-primary" th:href="@{edit(employee_id=${schedule.employee.id},year=${schedule.id.year},month=${schedule.id.month},day=${dayOfWeek.day})}" >edit</a></td>
                </tr>
                </tbody>
            </table>
          
        </div>
    </body>
</html>