<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bootstrap.min.css" rel="stylesheet" >
    </head>
    <body>
        <div class="container">
            <a href="index">back</a>
            <h2>Schedule</h2>
            employee: <span th:text="${schedule.employee.name} +' '+ ${schedule.employee.surname}" />
            <br/>
            department: <span th:text="${schedule.employee.department}" />
            <br/>
            year: <span th:text="${schedule.id.year}" />
            <br/>
            month: <span th:text="${schedule.getMonthName()}" />
          
        </div>
    </body>
</html>