<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <a href="index">back</a>
            <h2>Schedule</h2>
            employee: <span th:text="${schedule.employee.name} +' '+ ${schedule.employee.surname}" />
            <br/>
            department: <span th:text="${schedule.employee.department}" />
            <br/>
            year: <span th:text="${schedule.id.year}" />
            <br/>
            month: <span th:text="${schedule.getMonthName()}" />
          
        </div>
    </body>
</html>