<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap.min.css" rel="stylesheet" >
    </head>
    <body>
        <div class="container">
            <a href="../index">back</a>
            <h2>Employees list</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>surname</th>
                        <th>department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee:${employees}">
                        <td th:text="${employee.id}" />
                        <td th:text="${employee.name}" />
                        <td th:text="${employee.surname}" />
                        <td th:text="${employee.department}" />
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>